<header id="top-header">
    <div class="header-logo">
      <img src="/images/site/cse_motors.png" alt="CSE Motors" class="logo">
    </div>
    <div class="tools">
      <a title="Click to log in" href="/account/login">My Account</a>
    </div>
</header>